/*********
BODY
*********/

html {
  background: linear-gradient(#66ccee, transparent 90%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*********
HEADER
*********/

header {
    height: 250px;
  }

  h2 {
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin-top: -50px;
  }

  a {
    color: white;
    text-decoration: none;
}


#logo {
    text-shadow: 5px 5px 10px #777;
    font-family: 'Lobster', sans-serif;
    margin-left: 10px;
    font-size: 1.5em;
    text-align: center;
}

.admin-login {
    font-family: 'Roboto Condensed', sans-serif;
    float: right;
    font-size: 1.25em;
    margin-right: 10px;
    margin-top: 10px;
    text-shadow: 2px 2px 3px #666;
}


















