<!DOCTYPE html>
<html>
  <head>
    <title>Douser!</title>
    <link href='http://fonts.googleapis.com/css?family=Lobster|Courgette|Roboto+Condensed:300italic,700,300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="../static/script.js"></script>
  </head>
  <body>
    <header>
      <div class="admin-login">
        {% if not request.authenticated_userid %}
        <a href="{{ request.route_url('login') }}">Log in</a>
        {% else %}
        <a href="{{ request.route_url('logout') }}">Log out</a>
        {% endif %}
      </div>
      <div class="admin-login" id="new-posts">
      {% if request.authenticated_userid %}<a href="/feed">New Posts</a>{% endif %}
      </div>
      <a href="/" id="logo"><h1><center>Because People Are Terrible</center></h1></a>
      <div class="subtitle">
        <h2 class="subunit"><a href="https://twitter.com/DouserBot">@DouserBot</a></h2>
        <h2 class='mission'>"Shaming horrible posts since 2015"</h2>
      </div>
    </header>
    <main>
    {% block body %}{% endblock %}
    </main>
		<footer>
		</footer>
  </body>
</html>
