{% extends "base.jinja2" %}
{% block body %}
  <h2>Editor</h2>
    {% for entry in entries %}
    <form action="{{ request.route_url('tweet', id = entry.id) }}" method="POST">
            <div class="field">
                <label for="title">{{entry.username}}'s shitty post</label>
            </div>
            <div class="field">
                    <textarea name="text" id="text" rows="5" cols="80">{{ entry.username }}'s a jerk: {{ entry.permalink }}</textarea>
            </div>
            <input type="submit" name="Submit" value="Tweet"/>
    </form>
    {% endfor %}
{% endblock %}