<!DOCTYPE html>
{% extends "base.jinja2" %}
{% block body %}
  <h2 class="home-header">Feed of Shame</h2>
  <div class="reddit_scrape">
    <form action="{{ request.route_url('scrape') }}" method="POST">
      <div class="field">
        <label for="subreddit">Subreddit: </label>
        <input type="text" name="subreddit" id="subreddit"/>
      </div>
      <div class="field">
        <label for="sub_number">Number of Comments: </label>
          <select name="sub_number" id="sub_number">
            <option>100</option>
            <option>200</option>
            <option>500</option>
            <option>1000</option>
            <option>2000</option>
          </select>
      </div>
      <div class="control_row">
        <input type="submit" name="Submit" value="Scrape!" id="scrape_button"/>
      </div>
    </form>
  </div>
  <div class="tweet_scrape">
    <form action="{{ request.route_url('scrape_twitter') }}" method="POST">
      <div class="field">
        <label for="twitter_handle">Twitter Handle: </label>
        <input type="text" name="handle" id="handle"/>
      </div>
      <div class="field">
        <label for="tweet_number">Number of Tweets: </label>
          <select name="tweet_number" id="tweet_number">
            <option>5</option>
            <option>50</option>
            <option>75</option>
            <option>100</option>
          </select>
      </div>
      <div class="control_row">
        <input type="submit" name="Submit" value="Scrape!"/>
      </div>
    </form>
  </div>
  <div class='shame_stats'>
    <p>{{post_count}} posts scraped from {{source_name}}</p>
  </div>
  <div class="shame-feed">
  <a href="{{ request.route_url('delete_all') }}"><button class="clear_comments">Clear Comments</button></a>
    {% for comment in comments %}
    {% if not comment.approved %}
    <article class="shame-post">
            <h3 class="comment_title">{{ comment.username }}</h3>
            <div class="post">
              <div class="comment_body" id ="detail_post">
                {{ comment.text }}
              </div>
            </div>
          </a>
    </article>
    <br>
    <a href="{{ request.route_url('edit_comment', id = comment.id)}}"><button class="edit_button">Prepare for Tweeting!</button></a>
    {% endif %}
    {% endfor %}
  </div>
{% endblock %}
