{% extends "base.jinja2" %}
{% block body %}
  <hr>
  <h2 id="home-header">Recently Shamed</h2>
  <hr>
<div id="front-shame">
    {% for entry in entries %}
    <article class="shame-post" id="entry{{entry.id}}">
            <h3>{{ entry.username }}</h3>
            <div class="post">
              <div class="comment_body" id ="detail_post">
                {{ entry.render_markdown()|safe }}
              </div>
            </div>
          </a>
    </article>
    {% else %}
    <div class="entry">
      <p><em>No shameful posts yet</em></p>
    </div>
    {% endfor %}
{% endblock %}
