{% extends "base.jinja2" %}
{% block body %}
  <h2 class="home-header">Recently Shamed</h2>
  <div id="front-shame">
    {% for comment in comments %}
    <article class="shame-post">
            <h3>{{ comment.user }}</h3>
            <div class="post">
              <div class="comment_body" id ="detail_post">
                {{ comment.text }}
              </div>
            </div>
          </a>
    </article>
    {% else %}
    <div class="entry">
      <p><em>No shameful posts yet</em></p>
    </div>
    {% endfor %}
{% endblock %}
